*.iml
.gradle
/build
/captures
.idea
.DS_Store
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear
*.exe
*.dll
*.so
*.swp
*.swo
.*.swp
.*.swo
*.tmp
*.log
*.bak
*.orig
*.log
*.class
*.dex
*.zip
*.tgz
*.7z
*.rar
*.tar
*.gz
